* {
  margin: 0;
}

body {
  margin: 0;
  font-family: montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}

.MuiTypography-body1 {
  font-size: 13px !important;
}

@media only screen and (max-width: 500px) {
  .body_container_left {
    display: none !important;
  }

  .body_container_right {
    flex: 1 !important;
  }
  .container {
    margin: 0px !important;
  }
}
